{% extends "layout.html" %}

{% block content %}
	<h1>Configure</h1>
	<section>
		<strong>Client ID:</strong> {{ client.id }}
	</section>
	<section>
		<h2>Test</h2>
		<button id="shock" class="btn btn-primary">Shock</button>
		<button id="vibrate" class="btn btn-primary">Vibrate</button>
		<button id="beep" class="btn btn-primary">Beep</button>
		<button id="stop" class="btn btn-primary">Stop</button>
	</section>
<!--	<form method="post">-->
<!--		<div class="form-group">-->
<!--		</div>-->
<!--	</form>-->
{% endblock %}
